body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item.completed {
  text-decoration: line-through;
}
.add-todo-form{
  border: 1px solid;
  border-radius: 15px;
  padding: 20px;
}

.todo-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.todo-title{
  display: block;
  width: 100%;
}

.todo-description {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}